* {
  box-sizing: border-box;
}
body button,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}
a {
  color: #484848;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
